In [41]:
import pandas as pd

In [42]:
df = pd.read_csv("spotify_millsongdata.csv")

In [43]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [44]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [45]:
df.shape

(57650, 4)

In [46]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [47]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [48]:
df.head(10)

,artist,song,text
0,Lionel Richie,I Still Believe,I still believe in you and me \r\nStill belie...
1,Madonna,Buenos Aires,(Eva:) \r\nWhat's new Buenos Aires? \r\nI'm ...
2,Roxette,It Hurts,Can you tell me where it leaves \r\nWhen it's...
3,XTC,Poor Skeleton Steps Out,"Poor skeleton steps out, \r\nDressed up in ba..."
4,Miley Cyrus,Sorry That I'm Not Perfect,Miley - There's a photo of me being kissed by ...
5,Hillsong,Need You Here,I need you here... I need you here.. \r\nYou'...
6,Happy Mondays,Angel,Its not I who sought the novice it's the novic...
7,Guns N' Roses,Live And Let Die,When you were young \r\nAnd your heart was an...
8,Marilyn Manson,Dope Hat,I peek into the hole I struggle for control \...
9,America,Old Virginia,"Hey, honey, won't you sit down \r\nAnd stop h..."

In [49]:
df['text'][0]

"I still believe in you and me  \r\nStill believe the sun will shine on me  \r\n  \r\nI still believe there's a reason, there's a meaning to why we're here  \r\nThere is a place where we can go to where we don't have to live in fear  \r\nThey're trying to tell me that the moon is in the ocean.  \r\nAnd I'm just dreaming my life away  \r\n  \r\nI still believe in you and me  \r\nStill believe the sun will shine on me  \r\nI still believe true love is the answer, don't turn away  \r\n'cause I believe in love, that's the only way  \r\n  \r\nI believe in every moment, every heartbeat that we're here  \r\nAnd we're a part of each other and forever it seems so clear  \r\nI don't believe that I'm just walking in the darkness  \r\nOr that I'm lost without a prayer  \r\n  \r\nI still believe in you and me  \r\nStill believe the sun will shine on me  \r\n  \r\nOh now love is the answer and oh it's right here  \r\nAnd I know we've got to remember it's only together for now and forever  \r\n  \r\nI still believe in you and me  \r\nStill believe the sun will shine on me  \r\nI still believe true love is the answer  \r\nDon't turn away, 'cause I believe in love  \r\n'cause I believe in love, 'cause I believe in love and that's the only way.\r\n\r\n"

In [50]:
# df = df.sample(5000)

In [51]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [52]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [53]:
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

In [56]:
pip install scikit-learn

Collecting scikit-learn
  Obtaining dependency information for scikit-learn from https://files.pythonhosted.org/packages/40/c6/2e91eefb757822e70d351e02cc38d07c137212ae7c41ac12746415b4860a/scikit_learn-1.3.2-cp311-cp311-macosx_12_0_arm64.whl.metadata
  Downloading scikit_learn-1.3.2-cp311-cp311-macosx_12_0_arm64.whl.metadata (11 kB)
Requirement already satisfied: numpy<2.0,>=1.17.3 in /Users/samiradeepak/miniconda3/lib/python3.11/site-packages (from scikit-learn) (1.26.0)
Collecting scipy>=1.5.0 (from scikit-learn)
  Obtaining dependency information for scipy>=1.5.0 from https://files.pythonhosted.org/packages/50/8b/2057417a07a6fee8ed8be40e37bac4a502cae4cf44468a02962bbe81b8af/scipy-1.11.3-cp311-cp311-macosx_12_0_arm64.whl.metadata
  Downloading scipy-1.11.3-cp311-cp311-macosx_12_0_arm64.whl.metadata (165 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 165.4/165.4 kB 4.7 MB/s eta 0:00:00
Requirement already satisfied: joblib>=1.1.1 in /Users/samiradeepak/miniconda3/lib/python3.11/site-packages (from scikit-learn) (1.3.2)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Obtaining dependency information for threadpoolctl>=2.0.0 from https://files.pythonhosted.org/packages/81/12/fd4dea011af9d69e1cad05c75f3f7202cdcbeac9b712eea58ca779a72865/threadpoolctl-3.2.0-py3-none-any.whl.metadata
  Downloading threadpoolctl-3.2.0-py3-none-any.whl.metadata (10.0 kB)
Downloading scikit_learn-1.3.2-cp311-cp311-macosx_12_0_arm64.whl (9.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.4/9.4 MB 19.3 MB/s eta 0:00:0000:0100:01
Downloading scipy-1.11.3-cp311-cp311-macosx_12_0_arm64.whl (29.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 29.7/29.7 MB 20.5 MB/s eta 0:00:0000:0100:01
Downloading threadpoolctl-3.2.0-py3-none-any.whl (15 kB)
Installing collected packages: threadpoolctl, scipy, scikit-learn
Successfully installed scikit-learn-1.3.2 scipy-1.11.3 threadpoolctl-3.2.0
Note: you may need to restart the kernel to use updated packages.

In [57]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [58]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [59]:
similarity[0]

array([1.        , 0.03082461, 0.01926966, ..., 0.04526863, 0.02570522,
       0.00854485])

In [60]:
df[df['song'] == 'Crying Over You']

Empty DataFrame
Columns: [artist, song, text]
Index: []

In [63]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [64]:
import pickle
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))

In [66]:
pip install spotipy

Requirement already satisfied: spotipy in /Users/samiradeepak/miniconda3/lib/python3.11/site-packages (2.23.0)
Requirement already satisfied: redis>=3.5.3 in /Users/samiradeepak/miniconda3/lib/python3.11/site-packages (from spotipy) (5.0.1)
Requirement already satisfied: requests>=2.25.0 in /Users/samiradeepak/miniconda3/lib/python3.11/site-packages (from spotipy) (2.31.0)
Requirement already satisfied: six>=1.15.0 in /Users/samiradeepak/miniconda3/lib/python3.11/site-packages (from spotipy) (1.16.0)
Requirement already satisfied: urllib3>=1.26.0 in /Users/samiradeepak/miniconda3/lib/python3.11/site-packages (from spotipy) (1.26.16)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/samiradeepak/miniconda3/lib/python3.11/site-packages (from requests>=2.25.0->spotipy) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/samiradeepak/miniconda3/lib/python3.11/site-packages (from requests>=2.25.0->spotipy) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/samiradeepak/miniconda3/lib/python3.11/site-packages (from requests>=2.25.0->spotipy) (2023.7.22)
Note: you may need to restart the kernel to use updated packages.